
  <main class="container">


    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="tutor-banner bg-white shadow p-4 position-relative">
          <div class="banner-user text-center">
            <% if @clinic.photo.present? %>
              <%= cl_image_tag @clinic.photo.key, crop: :fill, height: 300, width: 300, class: "img-profile-sq" %>
            <% else %>
              <img src="https://www.solidbackgrounds.com/images/1920x1080/1920x1080-gray-solid-color-background.jpg" class="img-profile-sq" alt="Clinic Image">
            <% end %>
          </div>
          <div class="banner-content"  data-controller="edit-profile" data-edit-profile-target="card">
            <%= render 'edit_clinic', clinic: @clinic %>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class=" modal-title fs-5" id="exampleModalLabel justify-content-center">Register Partner</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <%= simple_form_for @vet do |vet_builder| %>
              <%= vet_builder.input :fullname %>
              <%= vet_builder.input :crmv %>
              <%= vet_builder.input :specialty, collection: Vet::SPECIALTIES %>
              <%= vet_builder.simple_fields_for @user do |user_builder| %>
              <%= user_builder.input :email %>
              <%= user_builder.input :password %>
            <% end %>
              <%= vet_builder.input :photo, as: :file %>
              <%= vet_builder.submit 'Save', class: ('btn btn-warning') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-4">
        <div class="d-flex justify-content-center w-100 p-4">
          <h3><i class="fa-solid fa-stethoscope"></i>&nbsp; All Vets from <%= @clinic.company_name %></h3>
        </div>

        <% @clinic.vets.each do |vet| %>
            <div class="vet-card shadow-sm">
              <% if vet.photo.present? %>
                <%= cl_image_tag vet.photo.key, crop: :fill, class: "img-card w-25" %>
              <% else %>
                <img src="https://icon-library.com/images/default-user-icon/default-user-icon-13.jpg" class= 'img-card w-25' alt="Profile Image">
              <% end %>
              <div class="info-card">
                <h5><strong><%= vet.fullname %></strong></h5>
                <p><%= vet.specialty %> </p>
              </div>
              <% if @clinic.user == current_user %>
                <%= link_to vet_path(vet), class: "icon-card", data: {turbo_method: :delete, turbo_confirm: "Do you delete him/her?"} do %>
                  <i class="fa-regular fa-trash-can"></i>
                <% end %>
              <% end %>
            </div>
        <% end %>

        <!-- Button trigger modal -->
        <div class="d-flex justify-content-center">
          <% if @clinic.user == current_user %>
            <button class="btn btn-warning me-1" data-bs-toggle="modal" data-bs-target="#exampleModal"> New Vet</button>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
          <%= render 'clinic_apo', clinic: @clinic, clinic_apo_old: @clinic_apo_old, clinic_apo_new: @clinic_apo_new %>
          <% if current_user.tutor? %>


            <button type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#appointmentModal">
              <i class="fa-solid fa-paw"></i> New Appointment from here !
            </button>

            <%= render 'appointments/form', clinic: @clinic, appointment: @appointment %>

          <% end %>

      </div>
    </div>

</main>
