<h2><%= @clinic.company_name %></h2>
<ul>
  <li><%= @clinic.address %></li>
  <li><%= @clinic.cnpj %></li>
</ul>



<h3>All Appointments</h3>
<% @clinic.appointments.each do |appointment| %>

  <ul>Assigned Vet:
    <li>Name: <%= appointment.vet.fullname %></li>
    <li>Specialty: <%= appointment.vet.specialty %></li>
  </ul>

  <ul>Pet information:
    <li>Name: <%= appointment.pet.name %></li>
    <li>Species: <%= appointment.pet.species %></li>
    <li>Tutor Name:<%= appointment.pet.tutor.fullname %></li>

    <li>Appointment Date: <%= appointment.datetime.strftime("%m/%d/%Y") %></li>
  </ul>
<% end %>
