<div data-edit-profile-target="content">





  <div data-edit-profile-target="info">

    <div data-action="click->edit-profile#displayForm">
      <i class="fa-solid fa-pen fa-xs ml-2" id="edit-pet"></i>
    </div>

    <h4>Name: <%= @pet.name %></h4>
    <p>Species: <%= @pet.species %></p>
    <p>Breed: <%= @pet.breed %></p>
    <p>Birth: <%= @pet.birth %></p>
  </div>

  <%= simple_form_for pet,
    html: {
      class: "d-none",
      data: {
        edit_profile_target: "form",
        action:"submit->edit-profile#update"
      }
    } do |f| %>

    <%= f.input :name %>
    <%= f.input :species %>
    <%= f.input :breed %>
    <%= f.input  :birth %>
    <%= f.button :submit, class: ('btn btn-warning')%>
  <% end %>

</div>
