<div class="ms-4" data-edit-profile-target="content">





  <div data-edit-profile-target="info">

    <div data-action="click->edit-profile#displayForm">
      <i class="fa-solid fa-pen fa-xs ml-2" id="edit-pet"></i>
    </div>

    <h4><%= @pet.name %></h4>
    <p class="breed-icon">
      <% if @pet.species == "dog" %>
        <i class="fa-solid fa-dog"></i>
      <% end %>
      <% if @pet.species == "cat" %>
        <i class="fa-solid fa-cat"></i>
      <% end %>
      <% if @pet.species == "hamster" %>
        <i class="fa-solid fa-otter"></i>
      <% end %>
      <% if @pet.species == "rabbit" %>
        <i class="fa-solid fa-paw"></i>
      <% end %>
      <% if @pet.species == "bird" %>
        <i class="fa-solid fa-crow"></i>
      <% end %>
      <% if @pet.species == "other" %>
        <i class="fa-solid fa-shrimp"></i>
      <% end %>
    </p>
    <p>&nbsp;</p>
      <p>Breed: <%= @pet.breed %></p>
      <p>Birth: <%= @pet.birth %></p>
  </div>

  <%= simple_form_for pet,
    html: {
      class: "d-none",
      data: {
        edit_profile_target: "form",
        action:"submit->edit-profile#update"
      }
    } do |f| %>

    <%= f.input :name %>
    <%= f.input :species %>
    <%= f.input :breed %>
    <%= f.input  :birth %>
    <%= f.button :submit, class: ('btn btn-warning')%>
  <% end %>

</div>
