<div class="card my-4">
        <h2>Upcoming</h2>
        <% pet_apo_new.each do |appointment| %>

          <button class="btn btn-success m-1" type="button" data-bs-toggle="collapse" data-bs-target="#appointment-<%=appointment.id %> " aria-expanded="false" aria-controls="collapseExample">
              <i class="fa-solid fa-paw"></i>&nbsp; <%= appointment.pet.name %>&nbsp;
              <i class="fa-solid fa-stethoscope"></i>&nbsp; <%= appointment.vet.fullname.split.first %>&nbsp;
              <i class="fa-solid fa-calendar-days">&nbsp; </i><%= appointment.datetime.strftime("%m/%d")%>
            </button>
            <div class="collapse" id="appointment-<%=appointment.id %>">
              <div class="content">
                <div class="card m-2" id="apo-info">
                  <h4><strong>Appointment Date:</strong> <%= appointment.datetime.strftime("%m/%d/%Y") %></h4>
                  <ul><strong>Pet information:</strong>
                    <li>Name: <%= appointment.pet.name %></li>
                    <li>Species: <%= appointment.pet.species %></li>
                    <li>Tutor Name: <%= appointment.pet.tutor.fullname %></li>
                  </ul>
                  <ul><strong>Assigned Vet:</strong>
                    <li>Name: <%= appointment.vet.fullname %></li>
                    <li>Specialty: <%= appointment.vet.specialty %></li>
                  </ul>
                  <ul><strong>Clinic information:</strong>
                    <li>Name: <%= appointment.vet.clinic.company_name %></li>
                    <li>Address: <%= appointment.vet.clinic.address %></li>
                  </ul>
                </div>
              </div>
            </div>
            <% if !appointment.review && appointment.date_in_past? %>
              <button class="btn btn-warning m-1" type="button" data-bs-toggle="collapse" data-bs-target="#review-form-<%= appointment.id %>" aria-expanded="false" aria-controls="review-form-<%= appointment.id %>">
                    Submit Review
              </button>
              <div class="collapse" id="review-form-<%= appointment.id %>">
                <div class="content">
                  <div class="card m-2" >
                    <div class="form-group mx-3">
                    <%= render 'reviews/form', review: Review.new(appointment_id: appointment.id), appointment: Appointment.find(appointment.id) %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

        <% end %>
      </div>

      <div class="card mb-4">

        <h2>Past</h2>
        <% pet_apo_old.each do |appointment| %>

          <button class="btn btn-success m-1" type="button" data-bs-toggle="collapse" data-bs-target="#appointment-<%=appointment.id %> " aria-expanded="false" aria-controls="collapseExample">
              <i class="fa-solid fa-paw"></i>&nbsp; <%= appointment.pet.name %>&nbsp;
              <i class="fa-solid fa-stethoscope"></i>&nbsp; <%= appointment.vet.fullname.split.first %>&nbsp;
              <i class="fa-solid fa-calendar-days">&nbsp; </i><%= appointment.datetime.strftime("%m/%d")%>
            </button>
            <div class="collapse" id="appointment-<%=appointment.id %>">
              <div class="content">
                <div class="card m-2" id="apo-info">
                  <h4><strong>Appointment Date:</strong> <%= appointment.datetime.strftime("%m/%d/%Y") %></h4>
                  <ul><strong>Pet information:</strong>
                    <li>Name: <%= appointment.pet.name %></li>
                    <li>Species: <%= appointment.pet.species %></li>
                    <li>Tutor Name: <%= appointment.pet.tutor.fullname %></li>
                  </ul>
                  <ul><strong>Assigned Vet:</strong>
                    <li>Name: <%= appointment.vet.fullname %></li>
                    <li>Specialty: <%= appointment.vet.specialty %></li>
                  </ul>
                  <ul><strong>Clinic information:</strong>
                    <li>Name: <%= appointment.vet.clinic.company_name %></li>
                    <li>Address: <%= appointment.vet.clinic.address %></li>
                  </ul>
                </div>
              </div>
            </div>
            <% if !appointment.review && appointment.date_in_past? %>
              <button class="btn btn-warning m-1" type="button" data-bs-toggle="collapse" data-bs-target="#review-form-<%= appointment.id %>" aria-expanded="false" aria-controls="review-form-<%= appointment.id %>">
                    Submit Review
              </button>
              <div class="collapse" id="review-form-<%= appointment.id %>">
                <div class="content">
                  <div class="card m-2" >
                    <div class="form-group mx-3">
                    <%= render 'reviews/form', review: Review.new(appointment_id: appointment.id), appointment: Appointment.find(appointment.id) %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

        <% end %>
</div>
