<h1>new pet</h1>

<%= simple_form_for([@pet]) do |f| %>
 <%= f.input :name %>
 <%= f.input :type %>
 <%= f.input :breed %>
 <%= f.input :birth %>

 <%# <%= f.association : %>
 <%= f.submit %>
<% end %>
