
<div class="container-md">
  <div class="row m-4">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-evenly" data-controller="edit-profile" data-edit-profile-target="card">
            <% if @pet.photo.present? %>
              <%= cl_image_tag(@pet.photo.key, class: 'profile-rounded')%>
            <% else %>
              <img src="https://icon-library.com/images/default-user-icon/default-user-icon-13.jpg" class="profile-rounded" alt="Profile Image">
            <% end %>
          <%= render 'edit_pet', pet: @pet %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="card" id="apo-card">
        <h2>All Appointments</h2>
        <div class="width-100 my-2">
          <%= form_with url: pet_path(@pet), method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: " "
            %>
            <%= submit_tag "Search", name: "", class: "btn btn-warning" %>
          <% end %>
        </div>
        <%= render 'pet_apo', pet: @pet, pet_apo_old: @pet_apo_old, pet_apo_new: @pet_apo_new %>
    </div>
  </div>
</div>
