


<div class="container">
  <div class="main-body">
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Pets Profile</li>
      </ol>
    </nav>
    <div class="row gutters-sm">

      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-around align-items-center flex-wrap">
              <img src="https://fotos.amomeupet.org/uploads/fotos/1608123513_5fda04796451e_hd.jpeg" alt="Admin" class="rounded-circle h-100 img-fluid img-thumbnail" width="100">
              <div class="mt-3">
                <div class="justify-content-center text-capitalize">
                  <h4>Name: <%= @pet.name %></h4>
                  <p class="mb-1 p-1">SPECIES: <%= @pet.species %></p>
                  <p class="font-size-sm p-1">Breed: <%= @pet.breed %></p>
                  <p class="font-size-sm p-1">Birth: <%= @pet.birth %></p>
                  <p class="bn31 m-3" href="/"><span class="bn31span">Messages</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="btn-links d-flex justify-content-evenly p-3">
    <a class="bn31" href="/"><span class="bn31span">All</span></a>
    <a class="bn31" href="/"><span class="bn31span">Favourites</span></a>
    <a class="bn31" href="/"><span class="bn31span">Stays</span></a>
    <a class="bn31" href="/"><span class="bn31span">Medical</span></a>
  </div>

  <div class="form-floating m-3">
    <textarea class="form-control bg-white" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
    <label for="floatingTextarea">Agenda for today</label>
  </div>

  <h1 class="d-flex justify-content-center p-4"><%= @pet.name %> Diaries</h1>

  <div class="col-md-16">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <table class="table table-bg table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">History</th>
                <th scope="col">Where</th>
                <th scope="col">When</th>
                <th scope="col">Rating</th>
              </tr>
            </thead>
            <tbody>
              <% @pet.appointments.each_with_index do |appointment, index| %>
                <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= appointment.vet.clinic.company_name %></td>
                <td><%= appointment.vet.clinic.address %></td>
                <td><%= appointment.datetime %></td>
                <td><%= appointment.vet_rating %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>


<p class="bn31 m-4 d-flex justify-content-center" href="/"><span class="bn31span">Remove Pet</span></p>
