<div class="tutor-banner bg-white shadow p-4" data-edit-profile-target="content">

  <div class="banner-user text-center">
    <% if current_user.tutor.photo.present? %>
      <%= cl_image_tag(current_user.tutor.photo.key, class: 'profile-rounded mb-4')%>
    <% else %>
      <img src="https://icon-library.com/images/default-user-icon/default-user-icon-13.jpg" class="profile-rounded position-absolute top-0 end-0 p-4" alt="Profile Image">
    <% end %>
    <h2> <%= @tutor.fullname %></h2>

  </div>

  <div class="banner-content ">
    <div class="flex" data-edit-profile-target="info">

      <div data-action="click->edit-profile#displayForm">
        <i class="fa-solid fa-pen fa-xs ml-2" ></i>
      </div>

      <p> <i class="fa-solid fa-location-dot"></i> <%= @tutor.address %></p>

      <p> <i class="fa-solid fa-envelope"></i> <%= @tutor.user.email %></p>

    </div>

    <button class="btn btn-warning btn-tutor" data-bs-toggle="modal" data-bs-target="#exampleModal"> <%= "Create a Pet Profile"%></button>

  </div>


  <%= simple_form_for tutor,
    html: {
      class: "d-none",
      data: {
        edit_profile_target: "form",
        action:"submit->edit-profile#update"
      }
    } do |f| %>

    <%= f.input :fullname %>
    <%= f.input :address %>
    <%= f.button :submit, class: ('btn btn-warning')%>
  <% end %>

</div>
