
<div class="container">
  <div class="main-body">
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Hi, <%= @tutor.fullname %>! </li>
      </ol>
    </nav>

    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="tutor-banner bg-white shadow p-4 mb-4">
            <div class="banner-user text-center">
              <% if current_user.tutor.photo.present? %>
                <%= cl_image_tag(current_user.tutor.photo.key, class: 'profile-rounded mb-4')%>
              <% else %>
                <img src="https://icon-library.com/images/default-user-icon/default-user-icon-13.jpg" class="profile-rounded" alt="Profile Image">
              <% end %>
              <h2> <%= @tutor.fullname %></h2>

            </div>

            <div class="banner-content ">
              <div class="flex">
                <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg> <%= @tutor.address %></p>

                <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
                <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"/>
                <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
              </svg> <%= @tutor.user.email %></p>
              </div>


              <button class="btn btn-warning btn-tutor" data-bs-toggle="modal" data-bs-target="#exampleModal"> <%= "Create a Pet Profile"%></button>


              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">New Pet</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                      <%= render 'pets/form', pet: @pet %>

                    </div>

                  </div>
                </div>

              </div>

            </div>
          </div>
      </div>
    </div>
  </div>

  <h1 class="d-flex justify-content-center p-4">My Pets</h1>

  <div class="row justify-content-center">
    <% @tutor.pets.each do |pet| %>

      <div class="col-4 col-md-3 col-lg-2 border-0 m-1">
        <div class="card text-center">
          <% if pet.photo.present? %>
            <%= cl_image_tag(pet.photo.key)%>
          <% else %>
            <img src="https://icon-library.com/images/default-user-icon/default-user-icon-13.jpg" alt="Profile Image">
          <% end %>
          <div class="card-body">
            <div class="">
              <h4><%= pet.name %></h4>
              <p class="text-capitalize"><%= pet.species %> <span> </p>
            </div>
            <button type="button" class="btn btn-primary mt-3 waves-effect w-md waves-light"><%= link_to "Appointments", pet_path(pet.id) %></button>
            <p><%= link_to "Delete Pet", pet_path(pet), data: {turbo_method: :delete, turbo_confirm: "Do yo delete him/her?"} %></p>
          </div>
        </div>
      </div>

    <% end %>
  </div>


<p>footer</p>

</div>
