
<div class="container">
  <div class="main-body">
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Hi, <%= @tutor.fullname %>! </li>
      </ol>
    </nav>

    <div class="row justify-content-center">
      <div class="col-lg-6">

        <div data-controller="edit-profile" data-edit-profile-target="card">

          <%= render 'edit_tutor', tutor: @tutor %>

        </div>

      </div>
    </div>
  </div>

  <h1 class="d-flex justify-content-center p-4">My Pets</h1>

  <div class="row justify-content-center">
    <% @tutor.pets.each do |pet| %>

      <div class="col-4 col-md-3 col-lg-2 border-0 m-1">
        <div class="card text-center">
          <% if pet.photo.present? %>
            <%= cl_image_tag(pet.photo.key)%>
          <% else %>
            <img src="https://icon-library.com/images/default-user-icon/default-user-icon-13.jpg" alt="Profile Image">
          <% end %>
          <div class="card-body">
            <div class="">
              <h4><%= pet.name %></h4>
              <p class="text-capitalize"><%= pet.species %> <span> </p>
            </div>
            <button type="button" class="btn btn-primary mt-3 waves-effect w-md waves-light"><%= link_to "Appointments", pet_path(pet.id) %></button>
            <p><%= link_to "Delete Pet", pet_path(pet), data: {turbo_method: :delete, turbo_confirm: "Do yo delete him/her?"} %></p>
          </div>
        </div>
      </div>

    <% end %>
  </div>


<p>footer</p>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">New Pet</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <%= render 'pets/form', pet: @pet %>

      </div>

    </div>
  </div>

</div>
