
<div class="container">
  <div class="main-body">
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
      </ol>
    </nav>
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://scontent.fsdu8-1.fna.fbcdn.net/v/t1.6435-9/41890355_1502840383148987_8227935292091269120_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=bVpw3Tr5-YQAX_4u6so&_nc_ht=scontent.fsdu8-1.fna&oh=00_AfCXs07TIN_Xqj9pqvUUV7d0MXyvKIwfz44GLropsTtYoA&oe=6612E3A1" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4><%= @tutor.fullname %></h4>
                <p class="text-muted font-size-sm"><%= @tutor.user %></p>
                <p class="text-muted font-size-sm"><%= @tutor.address %></p>
                <button class="btn btn-rounded btn-outline-primary">Message</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= @tutor.fullname %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= @tutor.user.email %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Mobile</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                (320) 380-4539
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= @tutor.address %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-info btn-rounded " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <h1 class="d-flex justify-content-center p-4">My Pets</h1>

    <div class="content">
      <div class="row justify-content-center">
        <% @tutor.pets.each do |pet| %>
          <div class="col-md-4">
              <div class="text-center card-box">
                <div class="member-card pt-2 pb-2 ">
                  <div class="thumb-lg member-thumb mx-auto"><img src="https://fotos.amomeupet.org/uploads/fotos/1608123513_5fda04796451e_hd.jpeg" class="rounded-circle img-thumbnail" alt="profile-image">
                  </div>
                  <div class="">
                    <h4><%= pet.name %></h4>
                    <p class="text-muted text-capitalize"><%= pet.species %> <span> </p>
                  </div>
                  <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light"><%= link_to "Appointments" %></button>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
