<div class="accordion accordion-flush" id="accordionFlushExample">
  <% vet_appointments.each do |appointment| %>

    <div class="accordion-item" data-controller="records">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-<%=appointment.id%>" aria-expanded="false" aria-controls="flush-collapse-<%=appointment.id%>">

          <%= appointment.pet.name %>

        </button>
      </h2>

      <div id="flush-collapse-<%=appointment.id%>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body" data-records-target="appointment">

          <% appointment.pet.records.each do |record| %>
            <%= render 'records/record', record: record %>
          <% end %>

          <% if appointment.record.nil? %>
            <%= render 'records/form', appointment: appointment, record: record %>
          <% end %>

        </div>
      </div>
    </div>




  <% end %>
</div>
