<%= simple_form_for(vet, user) do |f| %>

  <%= f.input user.email %>
  <%= f.input user.password %>
  <%= f.input vet.fullname %>
  <%= f.input vet.crmv %>
  <%= f.input vet.specialty, collection: Vet::SPECIALTIES %>
  <%= f.input vet.photos, as: :file, input_html: { multiple: true }  %>

  <div class="actions d-flex justify-content-center"">
    <%= f.button :submit, class: "btn btn-default btn-primary text-white my-2" %>
  </div>
<% end %>
