<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <div class="logo d-flex justify-content-start">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "petfolio_logo.png" %>
      <% end %>
      <div class="logo-text">
        <p>Pet</p>
        <p>Folio.</p>
      </div>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Clinics", clinics_path, class: "btn btn-warning me-3 mt-2" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.role == 'tutor' && current_user.tutor&.photo.present? %>
              <%= cl_image_tag current_user.tutor.photo.key, crop: :fill, class: "avatar-large" %>
            <% elsif current_user.role == 'clinic' && current_user.clinic&.photo.present? %>
              <%= cl_image_tag current_user.clinic.photo.key, crop: :fill, class: "avatar-large" %>
            <% else %>
              <%= image_tag "https://icon-library.com/images/default-user-icon/default-user-icon-13.jpg", alt: "Standard Image", class: "avatar-large" %>
            <% end %>
            <%# <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%# <% if current_user.role == 'tutor' %>
                <%# <%= link_to "Profile", tutor_path, class: "dropdown-item" %>
              <%# <% elsif current_user.role =='clinic' %>
                <%# <%= link_to "Profile", clinic_path, class: "dropdown-item" %>
              <%# <% end %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
