<div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="appointmentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class=" modal-title fs-5" id="appointmentModalLabel justify-content-center">New Appointment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <%= simple_form_for([clinic, appointment]) do |f| %>
          <%= f.input :datetime,
                      as: :string,
                      input_html: { data: { controller: "datepicker" }
                      } %>

          <%= f.input :pet_id, collection: current_user.tutor.pets.map { |pet| [pet.name, pet.id] }, prompt: "Select Pet" %>
          <%= f.input :vet_id, collection: clinic.vets.map { |vet| [vet.fullname, vet.id] }, prompt: "Select Vet" %>
          <%= f.button :submit, class: 'btn btn-warning' %>
        <% end %>

      </div>
    </div>
  </div>
</div>
